<?php

/*
 * This file is part of the dflydev-core-php package.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * Description of autoload
 *
 * @author Beau Simensen <beau@dflydev.com>
 */

require_once(__DIR__ . '/src/dflydev/core/ClassLoader.php');

use dflydev\core\ClassLoader;

$classLoader = new ClassLoader();

$classLoader->registerNamespaces(array(
    'dflydev\core' => 'src',
    'dflydev\tests\core' => 'tests',
));

$classLoader->activate();